<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funspeak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FunSpeak">
        <activity android:name=".views.tasks.SynonymsTask"></activity>
        <activity android:name=".views.login.LoginActivity" android:theme="@style/SplashTheme" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.SelectDifficulty" />
        <activity android:name=".views.LanguageSelection" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.register.RegisterActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <!--Preschool-->
        <activity android:name=".views.Preschool" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.PreschoolSelect" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Count" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.PreschoolPatterns" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.PreschoolTest" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.PreschoolAddition" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.PreschoolSubtraction" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <!--Elementary1-->
        <activity android:name=".views.Elementary" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.ElementaryAddition" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.ElementaryCount" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.ElementaryGeometry" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.ElementarySubtraction" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.ElementarySelect" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.ElementaryTest" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <!--Elementary2-->
        <activity android:name=".views.Elementary2" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary2Select" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary2Addition" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary2Division" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary2Multiplication" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary2Subtraction" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary2Test" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <!--Elementary3-->
        <activity android:name=".views.Elementary3" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary3Select" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary3Addition" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary3Division" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary3Multiplication" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary3Subtraction" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".views.Elementary3Test" android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".views.Incorrect" />
        <activity android:name=".views.Correct" />
        <activity android:name=".views.FinalScore" />
        <activity android:name=".views.tasks.SelectPhotoTask" />
        <activity android:name=".views.tasks.CompletePhraseTask" />
        <activity android:name=".views.MainActivity" android:exported="true" android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>